# 1. how to extract all item greater than 0

In [ ]:
[ i for i in list 
        if i > 0]

# 2. split

In [22]:
data_str = '1956-3-9'
year,month,day = data_str.split('-')

print(year,month,day)

1956 3 9

# 3. List to Dict

In [25]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

planets_dict = {planet : planet[0] for planet in planets}
print(planets_dict)

{'Mercury': 'M', 'Venus': 'V', 'Earth': 'E', 'Mars': 'M', 'Jupiter': 'J', 'Saturn': 'S', 'Uranus': 'U', 'Neptune': 'N'}

In [32]:
for key, value in planets_dict.items():
        print("{} begins with \"{}\"".format(key.rjust(10), value))

#1. dict.items()
#2. rjust()

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"

# 4. Error Exceptions 
<pre>try: 
        action
except:
        throw exception handler 
else:
        action if everything ok </pre>

In [36]:
zip_code = '444e44'
try:
        int(zip_code)
except:
        print('False')
else: 
        print(len(zip_code) == 5)

-->False

# 6. Enumerate

In [38]:
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
        print(index +1, fruit)

1 apple
2 banana
3 cherry