In [31]:
import pandas as pd
import numpy as np
import matplotlib as plt

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [8]:
house = pd.read_csv('AmesHousing.tsv', delimiter='\t')

In [5]:
house

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

In [43]:
def transform_features(df):
    return df

def select_features(df):
    return df[['Gr Liv Area','SalePrice']]

def train_and_test(df):
    train = df[:1460]
    test = df[1460:]

    numeric_train = train.select_dtypes(include=['integer', 'float'])
    numeric_test = test.select_dtypes(include=['integer', 'float'])

    
    numeric_features = numeric_train.columns.drop(['SalePrice'])

    lr = LinearRegression()
    lr.fit(train[numeric_features], train['SalePrice'])

    # train_predictions = lr.predict(train[numeric_features])
    test_predictions = lr.predict(test[numeric_features])


    # train_mse = mean_squared_error(train_predictions, train['SalePrice'])
    test_mse = mean_squared_error(test_predictions,test['SalePrice'])

    # train_rmse = np.sqrt(train_mse)
    test_rmse = np.sqrt(test_mse)

    return (test_mse, test_rmse)

In [44]:
transform_df = transform_features(house)
filtered_df = select_features(transform_df)

train_and_test(filtered_df)
# rmse = train_and_test(filtered_df)
# # 
# rmse

(3259068472.1879897, 57088.25161263909)

# Feature Engineering

In [ ]:
# All columns 
# 1. Drop any columns with more than 5% missing data (more_5pc_column)

# 2. Sort out all numerical columns 

# 3. Fill the missing value column with the most frequent value in that column

In [ ]:
#1.

In [98]:
temp = ((house.isnull().sum() / house.shape[1])> 0.05) 
more_5pc_column = ([index for index, value in temp.items() if value == False])

In [99]:
house[more_5pc_column].isnull().sum().sort_values(ascending=False)

Bsmt Full Bath    2
Bsmt Half Bath    2
BsmtFin SF 2      1
Garage Cars       1
Garage Area       1
                 ..
Exter Qual        0
Exter Cond        0
Foundation        0
Heating           0
SalePrice         0
Length: 64, dtype: int64

In [ ]:
# 2. Sort out all numerical columns

In [101]:
house[more_5pc_column].select_dtypes(['int','float']).shape

(2930, 36)

In [103]:
numerical_feature = house[more_5pc_column].select_dtypes(['int','float']).columns

In [104]:
numerical_feature

Index(['Order', 'PID', 'MS SubClass', 'Lot Area', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'BsmtFin SF 1',
       'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'TotRms AbvGrd', 'Fireplaces', 'Garage Cars',
       'Garage Area', 'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch',
       '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Misc Val', 'Mo Sold',
       'Yr Sold', 'SalePrice'],
      dtype='object')

In [106]:
# remove the SalePrice column
numerical_feature=numerical_feature.drop('SalePrice')

In [107]:
len(numerical_feature)

35

In [ ]:
# 3. Fill the missing value with the most frequent value in that column