In [48]:
import pandas as pd
import numpy as np
import matplotlib as plt

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [107]:
house = pd.read_csv('AmesHousing.tsv', delimiter='\t')

In [50]:
house

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

In [51]:
def transform_features(df):
    return df

def select_features(df):
    return df[['Gr Liv Area','SalePrice']]

def train_and_test(df):
    train = df[:1460]
    test = df[1460:]

    numeric_train = train.select_dtypes(include=['integer', 'float'])
    numeric_test = test.select_dtypes(include=['integer', 'float'])

    
    numeric_features = numeric_train.columns.drop(['SalePrice'])

    lr = LinearRegression()
    lr.fit(train[numeric_features], train['SalePrice'])

    # train_predictions = lr.predict(train[numeric_features])
    test_predictions = lr.predict(test[numeric_features])


    # train_mse = mean_squared_error(train_predictions, train['SalePrice'])
    test_mse = mean_squared_error(test_predictions,test['SalePrice'])

    # train_rmse = np.sqrt(train_mse)
    test_rmse = np.sqrt(test_mse)

    return (test_mse, test_rmse)

In [52]:
transform_df = transform_features(house)
filtered_df = select_features(transform_df)

train_and_test(filtered_df)
# rmse = train_and_test(filtered_df)
# # 
# rmse

(3259068472.1879897, 57088.25161263909)

# Feature Engineering

In [53]:
# All columns 
# 1. Drop any columns with more than 5% missing data (more_5pc_column)

# 2. Sort out all numerical columns 

# 3. Fill the missing value column with the most frequent value in that column

In [54]:
#1.

In [55]:
temp = ((house.isnull().sum() / house.shape[1])> 0.05) 
more_5pc_column = ([index for index, value in temp.items() if value == False])

In [56]:
house[more_5pc_column].isnull().sum().sort_values(ascending=False)

Bsmt Full Bath    2
Bsmt Half Bath    2
BsmtFin SF 2      1
Garage Cars       1
Garage Area       1
                 ..
Exter Qual        0
Exter Cond        0
Foundation        0
Heating           0
SalePrice         0
Length: 64, dtype: int64

In [57]:
# 2. Sort out all numerical columns

In [58]:
house[more_5pc_column].select_dtypes(['int','float']).shape

(2930, 36)

In [59]:
numerical_feature = house[more_5pc_column].select_dtypes(['int','float']).columns

In [60]:
numerical_feature

Index(['Order', 'PID', 'MS SubClass', 'Lot Area', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'BsmtFin SF 1',
       'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'TotRms AbvGrd', 'Fireplaces', 'Garage Cars',
       'Garage Area', 'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch',
       '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Misc Val', 'Mo Sold',
       'Yr Sold', 'SalePrice'],
      dtype='object')

In [61]:
# remove the SalePrice column
# numerical_feature=numerical_feature.drop('SalePrice')

In [62]:
len(numerical_feature)

36

In [63]:
# 3. Fill the missing value with the most frequent value in that column

In [64]:
house[numerical_feature]

,Order,PID,MS SubClass,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,BsmtFin SF 1,BsmtFin SF 2,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
0,1,526301100,20,31770,6,5,1960,1960,639.0,0.0,...,210,62,0,0,0,0,0,5,2010,215000
1,2,526350040,20,11622,5,6,1961,1961,468.0,144.0,...,140,0,0,0,120,0,0,6,2010,105000
2,3,526351010,20,14267,6,6,1958,1958,923.0,0.0,...,393,36,0,0,0,0,12500,6,2010,172000
3,4,526353030,20,11160,7,5,1968,1968,1065.0,0.0,...,0,0,0,0,0,0,0,4,2010,244000
4,5,527105010,60,13830,5,5,1997,1998,791.0,0.0,...,212,34,0,0,0,0,0,3,2010,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,7937,6,6,1984,1984,819.0,0.0,...,120,0,0,0,0,0,0,3,2006,142500
2926,2927,923276100,20,8885,5,5,1983,1983,301.0,324.0,...,164,0,0,0,0,0,0,6,2006,131000
2927,2928,923400125,85,10441,5,5,1992,1992,337.0,0.0,...,80,32,0,0,0,0,700,7,2006,132000
2928,2929,924100070,20,10010,5,5,1974,1975,1071.0,123.0,...,240,38,0,0,0,0,0,4,2006,170000
2929,2930,924151050,60,9627,7,5,1993,1994,758.0,0.0,...,190,48,0,0,0,0,0,11,2006,188000

In [65]:
def replace_missing_values(df):
    df_new= df.copy()
    num_changes = 0
    for col in df_new.columns:
        if df[col].isnull().sum() > 0:
            most_frequent_value = df[col].mode()[0]
            df_new[col].fillna(most_frequent_value, inplace=True)
            print(f"Column Name: {col} ||Missing value: {df[col].isnull().sum()} || Value Replaced: {most_frequent_value}")
            num_changes += 1
    print(f"===========\nTotal Number of Changes Made: {num_changes} out of {df.shape[1]}.")
    
    return df_new

In [66]:
imputed_df = replace_missing_values(house[numerical_feature])

Column Name: BsmtFin SF 1 ||Missing value: 1 || Value Replaced: 0.0
Column Name: BsmtFin SF 2 ||Missing value: 1 || Value Replaced: 0.0
Column Name: Bsmt Unf SF ||Missing value: 1 || Value Replaced: 0.0
Column Name: Total Bsmt SF ||Missing value: 1 || Value Replaced: 0.0
Column Name: Bsmt Full Bath ||Missing value: 2 || Value Replaced: 0.0
Column Name: Bsmt Half Bath ||Missing value: 2 || Value Replaced: 0.0
Column Name: Garage Cars ||Missing value: 1 || Value Replaced: 2.0
Column Name: Garage Area ||Missing value: 1 || Value Replaced: 0.0
===========
Total Number of Changes Made: 8 out of 36.

In [67]:
imputed_df.isnull().sum().sort_values(ascending=False)

Order              0
PID                0
Bedroom AbvGr      0
Kitchen AbvGr      0
TotRms AbvGrd      0
Fireplaces         0
Garage Cars        0
Garage Area        0
Wood Deck SF       0
Open Porch SF      0
Enclosed Porch     0
3Ssn Porch         0
Screen Porch       0
Pool Area          0
Misc Val           0
Mo Sold            0
Yr Sold            0
Half Bath          0
Full Bath          0
Bsmt Half Bath     0
BsmtFin SF 1       0
MS SubClass        0
Lot Area           0
Overall Qual       0
Overall Cond       0
Year Built         0
Year Remod/Add     0
BsmtFin SF 2       0
Bsmt Full Bath     0
Bsmt Unf SF        0
Total Bsmt SF      0
1st Flr SF         0
2nd Flr SF         0
Low Qual Fin SF    0
Gr Liv Area        0
SalePrice          0
dtype: int64

In [96]:
house.columns.tolist()

['Order',
 'PID',
 'MS SubClass',
 'MS Zoning',
 'Lot Frontage',
 'Lot Area',
 'Street',
 'Alley',
 'Lot Shape',
 'Land Contour',
 'Utilities',
 'Lot Config',
 'Land Slope',
 'Neighborhood',
 'Condition 1',
 'Condition 2',
 'Bldg Type',
 'House Style',
 'Overall Qual',
 'Overall Cond',
 'Year Built',
 'Year Remod/Add',
 'Roof Style',
 'Roof Matl',
 'Exterior 1st',
 'Exterior 2nd',
 'Mas Vnr Type',
 'Mas Vnr Area',
 'Exter Qual',
 'Exter Cond',
 'Foundation',
 'Bsmt Qual',
 'Bsmt Cond',
 'Bsmt Exposure',
 'BsmtFin Type 1',
 'BsmtFin SF 1',
 'BsmtFin Type 2',
 'BsmtFin SF 2',
 'Bsmt Unf SF',
 'Total Bsmt SF',
 'Heating',
 'Heating QC',
 'Central Air',
 'Electrical',
 '1st Flr SF',
 '2nd Flr SF',
 'Low Qual Fin SF',
 'Gr Liv Area',
 'Bsmt Full Bath',
 'Bsmt Half Bath',
 'Full Bath',
 'Half Bath',
 'Bedroom AbvGr',
 'Kitchen AbvGr',
 'Kitchen Qual',
 'TotRms AbvGrd',
 'Functional',
 'Fireplaces',
 'Fireplace Qu',
 'Garage Type',
 'Garage Yr Blt',
 'Garage Finish',
 'Garage Cars',
 'Garage Area',
 'Garage Qual',
 'Garage Cond',
 'Paved Drive',
 'Wood Deck SF',
 'Open Porch SF',
 'Enclosed Porch',
 '3Ssn Porch',
 'Screen Porch',
 'Pool Area',
 'Pool QC',
 'Fence',
 'Misc Feature',
 'Misc Val',
 'Mo Sold',
 'Yr Sold',
 'Sale Type',
 'Sale Condition',
 'SalePrice']

In [69]:
(imputed_df['Yr Sold']-imputed_df['Yr Sold']).sort_values()

0       0
1948    0
1949    0
1950    0
1951    0
       ..
979     0
980     0
981     0
983     0
2929    0
Name: Yr Sold, Length: 2930, dtype: int64

In [70]:
# Newly create 2 columns
imputed_df['Years Before Sale'] = (imputed_df['Yr Sold']-imputed_df['Yr Sold'])
imputed_df['Years Since Remod'] = imputed_df['Yr Sold']-imputed_df['Year Remod/Add']

In [72]:
imputed_df=imputed_df.drop([2180,2181,1702],axis=0)

In [79]:
# drop colums that aren't useful for ML

imputed_df = imputed_df.drop(['PID','Order'], axis = 1)

KeyError: "['PID', 'Order'] not found in axis"

In [81]:
# Drop clumns that leak info about the final sale:
imputed_df = imputed_df.drop(["Mo Sold", "Yr Sold"], axis=1)

In [125]:
# Let's update the transform_features function

def transform_features(df):
    temp = ((df.isnull().sum() / df.shape[1])> 0.05)
    more_5pc_column = ([index for index, value in temp.items() if value == False])
    numerical_feature = house[more_5pc_column].select_dtypes(['int','float']).columns
    df = df[numerical_feature]
    df = replace_missing_values(df)
    df['Years Before Sale'] = (df['Yr Sold']-df['Year Built'])
    df['Years Since Remod'] = (df['Yr Sold']-df['Year Remod/Add'])
    
    df = df[df['Years Before Sale'] >0]
    df = df[df['Years Since Remod'] >0]
    df = df.drop(['PID', 'Order'], axis = 1)

    # Drop clumns that leak info about the final sale:
    df = df.drop(["Mo Sold", "Yr Sold"], axis=1)
    
    return df

In [126]:
temp= transform_features(house)

Column Name: BsmtFin SF 1 ||Missing value: 1 || Value Replaced: 0.0
Column Name: BsmtFin SF 2 ||Missing value: 1 || Value Replaced: 0.0
Column Name: Bsmt Unf SF ||Missing value: 1 || Value Replaced: 0.0
Column Name: Total Bsmt SF ||Missing value: 1 || Value Replaced: 0.0
Column Name: Bsmt Full Bath ||Missing value: 2 || Value Replaced: 0.0
Column Name: Bsmt Half Bath ||Missing value: 2 || Value Replaced: 0.0
Column Name: Garage Cars ||Missing value: 1 || Value Replaced: 2.0
Column Name: Garage Area ||Missing value: 1 || Value Replaced: 0.0
===========
Total Number of Changes Made: 8 out of 36.

In [132]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2689 entries, 0 to 2929
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MS SubClass        2689 non-null   int64
 1   Lot Area           2689 non-null   int64
 2   Overall Qual       2689 non-null   int64
 3   Overall Cond       2689 non-null   int64
 4   Year Built         2689 non-null   int64
 5   Year Remod/Add     2689 non-null   int64
 6   BsmtFin SF 1       2689 non-null   float64
 7   BsmtFin SF 2       2689 non-null   float64
 8   Bsmt Unf SF        2689 non-null   float64
 9   Total Bsmt SF      2689 non-null   float64
 10  1st Flr SF         2689 non-null   int64
 11  2nd Flr SF         2689 non-null   int64
 12  Low Qual Fin SF    2689 non-null   int64
 13  Gr Liv Area        2689 non-null   int64
 14  Bsmt Full Bath     2689 non-null   float64
 15  Bsmt Half Bath     2689 non-null   float64
 16  Full Bath          2689 non-null   int64
 17  Half Bath          2689 non-null   int64
 18  Bedroom AbvGr      2689 non-null   int64
 19  Kitchen AbvGr      2689 non-null   int64
 20  TotRms AbvGrd      2689 non-null   int64
 21  Fireplaces         2689 non-null   int64
 22  Garage Cars        2689 non-null   float64
 23  Garage Area        2689 non-null   float64
 24  Wood Deck SF       2689 non-null   int64
 25  Open Porch SF      2689 non-null   int64
 26  Enclosed Porch     2689 non-null   int64
 27  3Ssn Porch         2689 non-null   int64
 28  Screen Porch       2689 non-null   int64
 29  Pool Area          2689 non-null   int64
 30  Misc Val           2689 non-null   int64
 31  SalePrice          2689 non-null   int64
 32  Years Before Sale  2689 non-null   int64
 33  Years Since Remod  2689 non-null   int64
dtypes: float64(8), int64(26)
memory usage: 735.3 KB

In [129]:
house.shape

(2930, 82)

In [82]:
imputed_df['Year Remod/Add']

,MS SubClass,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,SalePrice,Years Before Sale,Years Since Remod
0,20,31770,6,5,1960,1960,639.0,0.0,441.0,1080.0,...,210,62,0,0,0,0,0,215000,0,50
1,20,11622,5,6,1961,1961,468.0,144.0,270.0,882.0,...,140,0,0,0,120,0,0,105000,0,49
2,20,14267,6,6,1958,1958,923.0,0.0,406.0,1329.0,...,393,36,0,0,0,0,12500,172000,0,52
3,20,11160,7,5,1968,1968,1065.0,0.0,1045.0,2110.0,...,0,0,0,0,0,0,0,244000,0,42
4,60,13830,5,5,1997,1998,791.0,0.0,137.0,928.0,...,212,34,0,0,0,0,0,189900,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,80,7937,6,6,1984,1984,819.0,0.0,184.0,1003.0,...,120,0,0,0,0,0,0,142500,0,22
2926,20,8885,5,5,1983,1983,301.0,324.0,239.0,864.0,...,164,0,0,0,0,0,0,131000,0,23
2927,85,10441,5,5,1992,1992,337.0,0.0,575.0,912.0,...,80,32,0,0,0,0,700,132000,0,14
2928,20,10010,5,5,1974,1975,1071.0,123.0,195.0,1389.0,...,240,38,0,0,0,0,0,170000,0,31
2929,60,9627,7,5,1993,1994,758.0,0.0,238.0,996.0,...,190,48,0,0,0,0,0,188000,0,12

In [89]:
imputed_df[imputed_df['Overall Qual']>0]

,MS SubClass,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,SalePrice,Years Before Sale,Years Since Remod
0,20,31770,6,5,1960,1960,639.0,0.0,441.0,1080.0,...,210,62,0,0,0,0,0,215000,0,50
1,20,11622,5,6,1961,1961,468.0,144.0,270.0,882.0,...,140,0,0,0,120,0,0,105000,0,49
2,20,14267,6,6,1958,1958,923.0,0.0,406.0,1329.0,...,393,36,0,0,0,0,12500,172000,0,52
3,20,11160,7,5,1968,1968,1065.0,0.0,1045.0,2110.0,...,0,0,0,0,0,0,0,244000,0,42
4,60,13830,5,5,1997,1998,791.0,0.0,137.0,928.0,...,212,34,0,0,0,0,0,189900,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,80,7937,6,6,1984,1984,819.0,0.0,184.0,1003.0,...,120,0,0,0,0,0,0,142500,0,22
2926,20,8885,5,5,1983,1983,301.0,324.0,239.0,864.0,...,164,0,0,0,0,0,0,131000,0,23
2927,85,10441,5,5,1992,1992,337.0,0.0,575.0,912.0,...,80,32,0,0,0,0,700,132000,0,14
2928,20,10010,5,5,1974,1975,1071.0,123.0,195.0,1389.0,...,240,38,0,0,0,0,0,170000,0,31
2929,60,9627,7,5,1993,1994,758.0,0.0,238.0,996.0,...,190,48,0,0,0,0,0,188000,0,12

## Corelation study on the features

In [ ]:
df_corr = imputed_df.corr()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize=(10, 10))
sns.heatmap(df_corr, ax=ax)

In [ ]:
df_corr.shape

In [ ]:
SalePrice_corr_features= df_corr['SalePrice']

In [ ]:
SalePrice_corr_features.sort_values(ascending=False)

In [78]:
print(imputed_df.corr()['SalePrice'].sort_values(ascending=False))

SalePrice            1.000000
Overall Qual         0.801206
Gr Liv Area          0.717596
Garage Cars          0.648361
Total Bsmt SF        0.644012
Garage Area          0.641425
1st Flr SF           0.635185
Year Built           0.558490
Full Bath            0.546118
Year Remod/Add       0.533007
TotRms AbvGrd        0.498574
Fireplaces           0.474831
BsmtFin SF 1         0.439284
Wood Deck SF         0.328183
Open Porch SF        0.316262
Half Bath            0.284871
Bsmt Full Bath       0.276258
2nd Flr SF           0.269601
Lot Area             0.267520
Bsmt Unf SF          0.182751
Bedroom AbvGr        0.143916
Screen Porch         0.112280
Pool Area            0.068438
Mo Sold              0.035273
3Ssn Porch           0.032268
BsmtFin SF 2         0.006127
Misc Val            -0.019273
Yr Sold             -0.030358
Bsmt Half Bath      -0.035875
Low Qual Fin SF     -0.037629
MS SubClass         -0.085128
Overall Cond        -0.101540
Kitchen AbvGr       -0.119760
Enclosed Porch      -0.128685
Years Since Remod   -0.534985
Years Before Sale         NaN
Name: SalePrice, dtype: float64